<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestAutomatic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.testautomatic.view.MySessionListener</listener-class>
</listener>
  <servlet>
    <servlet-name>LoginServlets</servlet-name>
    <servlet-class>com.testautomatic.view.LoginServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlets</servlet-name>
    <url-pattern>/LoginServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemoServlets</servlet-name>
    <servlet-class>com.testautomatic.view.DemoServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlets</servlet-name>
    <url-pattern>/DemoServlets</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>com.testautomatic.view.CheckAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GridServlets</servlet-name>
    <servlet-class>com.testautomatic.view.GridServlets</servlet-class>
  </servlet>
  <!--<servlet>-->
    <!--<servlet-name>Automator</servlet-name>-->
    <!--<servlet-class>com.testautomatic.view.Automator</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet>-->
    <!--<servlet-name>ContactServlets</servlet-name>-->
    <!--<servlet-class>com.testautomatic.view.ContactServlets</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ContactServlets</servlet-name>-->
    <!--<url-pattern>/ContactServlets</url-pattern>-->
  <!--</servlet-mapping>-->
  <servlet>
    <servlet-name>ParameterizationExcelServlet</servlet-name>
    <servlet-class>com.testautomatic.view.ParameterizationExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterizationExcelServlet</servlet-name>
    <url-pattern>/ParameterizationExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GridServlets</servlet-name>
    <url-pattern>/GridServlets/*</url-pattern>
  </servlet-mapping>
  <!--<servlet-mapping>-->
    <!--<servlet-name>Automator</servlet-name>-->
    <!--<url-pattern>/Automator/</url-pattern>-->
  <!--</servlet-mapping>-->
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutUs</servlet-name>
    <jsp-file>/AboutUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUs</servlet-name>
    <url-pattern>/AboutUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TAAnalytics</servlet-name>
    <jsp-file>/TAAnalytics.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAAnalytics</servlet-name>
    <url-pattern>/TAAnalytics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactUs</servlet-name>
    <jsp-file>/ContactUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReleaseM</servlet-name>
    <jsp-file>/ReleaseM.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReleaseM</servlet-name>
    <url-pattern>/ReleaseM</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResourceM</servlet-name>
    <jsp-file>/ResourceM.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceM</servlet-name>
    <url-pattern>/ResourceM</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <jsp-file>/SignUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TryItNow</servlet-name>
    <jsp-file>/TryItNow.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TryItNow</servlet-name>
    <url-pattern>/TryItNow</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>MaverickJira</servlet-name>
        <jsp-file>/MaverickJira.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaverickJira</servlet-name>
        <url-pattern>/MaverickJira</url-pattern>
    </servlet-mapping>

  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type,X-Requested-With,Accept,Accept-Encoding,Accept-Language,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Connection,Host,authorization</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>